In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\Hp\\Desktop\\Data_science-main\\Datasets\\weather_data.csv")
df

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,14-01-2024 21:12,-999999,41.195754,4.020119,8.233540247mph
1,San Diego,17-05-2024 15:22,8.734139782C,58.319107,9.111623,27.71516126mph
2,San Diego,11-05-2024 09:30,11.63243631,38.820175,4.607511,28.73295129
3,Philadelphia,26-02-2024 17:32,-8.628975896,-999999.000000,3.183720,26.36730267

In [3]:
weather_data={
    'Location':['San Diego','San Antonio'],
    'Date_Time':['2024-01-14 21:12:46','2024-04-29 13:23:51'],
    'Temperature_C':['10.683001','39.808213']
}
df= pd.DataFrame(weather_data)
df

      Location            Date_Time Temperature_C
0    San Diego  2024-01-14 21:12:46     10.683001
1  San Antonio  2024-04-29 13:23:51     39.808213

In [4]:
weather_data=[
    ('San Diego','2024-01-14 21:12:46','10.683001'),
    ('San Antonio','2024-04-29 13:23:51','39.808213')
]
df = pd.DataFrame(weather_data,columns=["Location","Date_Time","Temperature_C"])
df

      Location            Date_Time Temperature_C
0    San Diego  2024-01-14 21:12:46     10.683001
1  San Antonio  2024-04-29 13:23:51     39.808213

In [5]:
weather_data=[
    {'Location':'San Diego','Date_Time':'2024-01-14 21:12:46','Temperature_C':'10.683001'},
    {'Location':'San Antonio','Date_Time':'2024-04-29 13:23:51','Temperature_C':'39.808213'}
]
df= pd.DataFrame(weather_data)
df

      Location            Date_Time Temperature_C
0    San Diego  2024-01-14 21:12:46     10.683001
1  San Antonio  2024-04-29 13:23:51     39.808213