In [1]:
import pandas as pd
df= pd.read_csv('C:\\Users\\Hp\\Desktop\\Data_science-main\\Datasets\\weather_data.csv')
df

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,14-01-2024 21:12,-999999,41.195754,4.020119,8.233540247mph
1,San Diego,17-05-2024 15:22,8.734139782C,58.319107,9.111623,27.71516126mph
2,San Diego,11-05-2024 09:30,11.63243631,38.820175,4.607511,28.73295129
3,Philadelphia,26-02-2024 17:32,-8.628975896,-999999.000000,3.183720,26.36730267

NOW add a row with only one column

In [3]:
df= pd.read_csv('C:\\Users\\Hp\\Desktop\\Data_science-main\\Datasets\\weather_data.csv')
df

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,14-01-2024 21:12,-999999,41.195754,4.020119,8.233540247mph
1,San Diego,17-05-2024 15:22,8.734139782C,58.319107,9.111623,27.71516126mph
2,San Diego,11-05-2024 09:30,11.63243631,38.820175,4.607511,28.73295129
3,Philadelphia,26-02-2024 17:32,-8.628975896,-999999.000000,3.183720,26.36730267

In [4]:
df= pd.read_csv('C:\\Users\\Hp\\Desktop\\Data_science-main\\Datasets\\weather_data.csv',skiprows=1)
df

,San Diego,14-01-2024 21:12,-999999,41.19575357,4.020118716,8.233540247mph
0,San Diego,17-05-2024 15:22,8.734139782C,58.319107,9.111623,27.71516126mph
1,San Diego,11-05-2024 09:30,11.63243631,38.820175,4.607511,28.73295129
2,Philadelphia,26-02-2024 17:32,-8.628975896,-999999.000000,3.183720,26.36730267

In [5]:
df= pd.read_csv('C:\\Users\\Hp\\Desktop\\Data_science-main\\Datasets\\weather_data.csv',na_values=["not available","n,a,"])
df

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,14-01-2024 21:12,-999999,41.195754,4.020119,8.233540247mph
1,San Diego,17-05-2024 15:22,8.734139782C,58.319107,9.111623,27.71516126mph
2,San Diego,11-05-2024 09:30,11.63243631,38.820175,4.607511,28.73295129
3,Philadelphia,26-02-2024 17:32,-8.628975896,-999999.000000,3.183720,26.36730267

In [6]:
df.to_csv('new.csv',index=False)

In [7]:
df.columns

Index(['Location', 'Date_Time', 'Temperature_C', 'Humidity_pct',
       'Precipitation_mm', 'Wind_Speed_kmh'],
      dtype='object')