In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\Hp\\Desktop\\Data_science-main\\Datasets\\weather_data.csv')
df

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,14-01-2024 21:12,-999999,41.195754,4.020119,8.233540247mph
1,San Diego,17-05-2024 15:22,8.734139782C,58.319107,9.111623,27.71516126mph
2,San Diego,11-05-2024 09:30,11.63243631,38.820175,4.607511,28.73295129
3,Philadelphia,26-02-2024 17:32,-8.628975896,-999999.000000,3.183720,26.36730267

In [3]:
rows, columns = df.shape

In [4]:
rows

4

In [5]:
columns

6

In [6]:
df.head()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,14-01-2024 21:12,-999999,41.195754,4.020119,8.233540247mph
1,San Diego,17-05-2024 15:22,8.734139782C,58.319107,9.111623,27.71516126mph
2,San Diego,11-05-2024 09:30,11.63243631,38.820175,4.607511,28.73295129
3,Philadelphia,26-02-2024 17:32,-8.628975896,-999999.000000,3.183720,26.36730267

In [7]:
df.tail()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,14-01-2024 21:12,-999999,41.195754,4.020119,8.233540247mph
1,San Diego,17-05-2024 15:22,8.734139782C,58.319107,9.111623,27.71516126mph
2,San Diego,11-05-2024 09:30,11.63243631,38.820175,4.607511,28.73295129
3,Philadelphia,26-02-2024 17:32,-8.628975896,-999999.000000,3.183720,26.36730267

In [8]:
df.columns

Index(['Location', 'Date_Time', 'Temperature_C', 'Humidity_pct',
       'Precipitation_mm', 'Wind_Speed_kmh'],
      dtype='object')

In [9]:
df.describe()

        Humidity_pct  Precipitation_mm
count       4.000000          4.000000
mean  -249965.166241          5.230743
std    500022.555915          2.652393
min   -999999.000000          3.183720
25%   -249970.634869          3.811019
50%        40.007964          4.313815
75%        45.476592          5.733539
max        58.319107          9.111623

In [10]:
df

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,14-01-2024 21:12,-999999,41.195754,4.020119,8.233540247mph
1,San Diego,17-05-2024 15:22,8.734139782C,58.319107,9.111623,27.71516126mph
2,San Diego,11-05-2024 09:30,11.63243631,38.820175,4.607511,28.73295129
3,Philadelphia,26-02-2024 17:32,-8.628975896,-999999.000000,3.183720,26.36730267

In [11]:
df.set_index('Date_Time',inplace=True)

In [12]:
df

,Location,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
Date_Time,,,,,
14-01-2024 21:12,San Diego,-999999,41.195754,4.020119,8.233540247mph
17-05-2024 15:22,San Diego,8.734139782C,58.319107,9.111623,27.71516126mph
11-05-2024 09:30,San Diego,11.63243631,38.820175,4.607511,28.73295129
26-02-2024 17:32,Philadelphia,-8.628975896,-999999.000000,3.183720,26.36730267

In [14]:
df.loc['17-05-2024 15:22']

Location                 San Diego
Temperature_C         8.734139782C
Humidity_pct             58.319107
Precipitation_mm          9.111623
Wind_Speed_kmh      27.71516126mph
Name: 17-05-2024 15:22, dtype: object

In [15]:
df.reset_index(inplace=True)
df

,Date_Time,Location,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,14-01-2024 21:12,San Diego,-999999,41.195754,4.020119,8.233540247mph
1,17-05-2024 15:22,San Diego,8.734139782C,58.319107,9.111623,27.71516126mph
2,11-05-2024 09:30,San Diego,11.63243631,38.820175,4.607511,28.73295129
3,26-02-2024 17:32,Philadelphia,-8.628975896,-999999.000000,3.183720,26.36730267